@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

body{
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--very-dark-grey);
    height: 100%;
    color:white;
    margin:0;
    
    
}

#root{
    width:90%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main{
    width: 100%;
    max-width: 600px;
}

h1{
    font-size: 1.3rem;
    color: var(--color-grey);
    text-align: center;
}

p{
    margin: 0;
}

.card{
    background-color: var(--dark-grey);
    padding: 0.85rem 1.2rem;
    margin-bottom: 1.2rem;
}

.flex-between{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    display:flex;
    gap:0.5rem;
    align-items: center;
    justify-content: center;
    border:2px solid var(--neon-green);
    background-color: var(--neon-green);
    width: 100%;
    height:2.5rem;
    font-weight: 600;
    font-size:0.8rem;
    margin-bottom: 0.5rem;
}

.btn:hover{
    background-color: var(--very-dark-grey);
    color: var(--neon-green);
    cursor:pointer;
}

.arrow{
    color:inherit;
}

@media (min-width:1000px) {
    html{
        font-size: 110%;
    }
    .card{
        padding: 1rem 1.5rem;
    }
}