
:root{
    /* Colors*/
    --color-grey: #817d92;
    --dark-grey: #24232c;
    --very-dark-grey: #18171f;
    
    --color-white: #e6e5ea;
    --color-red: #f64a4a;
    --color-orange: #fb7c58;
    --color-yellow: #f8cd65;
    --neon-green: #a4ffaf;

    --sx:0;
}
